{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="card">
		<div class="card-header">AddProduct</div>
	<div class="card-body">
		<label for="pname"></label>
		<input type="text" placeholder="enter product name" class="form-control" name="pname">
		<label for="price"></label>
		<input type="number" placeholder="enter price" class="form-control" name="price">
		<label for="digital"></label>
		<input type="number" placeholder="enter digital...." class="form-control" name="digital">
		<label for="image"></label>
		<input type="text" placeholder="enter image link" class="form-control" name="image">

	</div>
		<div class="card-footer">
		<input type="submit" value="Login" class="btn btn-outline-success">
		
	</div>
	
	</div>
	</div>
	

{% endblock content %}